* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffe4ec;
}

span {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    color: #b82349;
}

header {
    background-color: #e94b6b;
    color: rgb(255, 255, 255);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nome span {
    color: #fff3a6;
    margin-top: 8px;
}

.menu {
    display: flex;
    gap: 20px;
}

.inicial a {
    font-weight: bold;
    background-color: #ff8fab;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9365e;
}

.personagens a {
    font-weight: bold;
    background-color: #ff8fab;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9365e;
}

.curiosidades a {
    font-weight: bold;
    background-color: #ff8fab;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9365e;
}

#curiosidades {
    padding: 23px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 10px;
    background-color: #fff0a8;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#curiosidades h2 {
    font-size: 43px;
    padding-bottom: 10px;
    color: #b82349;
}

#imagem img {
    width: 595px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    margin: 30px;
    border: 4px solid #ffb3c6;
}

#blocoprincipal {
    background-color: #f58ca5;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffd6e0;
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.card {
    gap: 20px;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color: #e96b88;
    flex-direction: row;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card span {
    font-size: 30px;
    color: #d9365e;
}

.card h3 {
    margin-top: 8px;
    padding: 20px;
    color: #b82349;
}

.card p {
    font-weight: 520;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a2430;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    background-color: #e94b6b;
    color: white;
    padding: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    display: flex;
    gap: 20px;
}

.links1 {
    font-weight: bold;
    background-color: #ff8fab;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9365e;
    padding: 10px;
}

.links2 {
    font-weight: bold;
    background-color: #ff8fab;
    border-radius: 8px;
    border-style: solid;
    border-color: #d9365e;
    padding: 10px;
}

a:hover {
    color: #fff0a8;
}